@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

:root {
    --bg-primary-color: rgb(43, 42, 46);
    --bg-secondary-color: rgb(51, 49, 57);
    --bg-main-theme-color: rgb(255, 57, 57);
}

body {
    background-color: var(--bg-primary-color);
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-secondary-color);
    align-items: center;
    color: #fff;
    width: 100%;
}

.nav-logo {
    width: 4rem;
}

input {
    display: inline-block;
    border: none;
    padding: 12px;
    border-radius: 1rem;
    outline: none;
    color: white;
    transition: 0.2s;
    line-height: 1.5;
    box-sizing: border-box;
    appearance: none;
    background-color: var(--bg-primary-color);
}

input:hover {
    border: none;
}

input.search-box {
    width: 20rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-secondary-color);
    margin-top: 64px;
    width: 230px;
    height: 100%;
    transition: 0.2s;
    z-index: 1000;
}

a {
    color: #fff;
    text-decoration: none;
}

.sidebar li a {
    display: flex;
    padding: 1rem;
    margin: 0.4rem;
    border-radius: 1rem;
    opacity: 0.5;
    transition: 0.2s;
    align-items: center; 
}

.sidebar li a i {
    font-size: 20px;
    margin-right: 0.6rem;
}

.sidebar li a:hover {
    background-color: var(--bg-primary-color);
    opacity: 1;
    color: var(--bg-main-theme-color);
    transform: translateX(5px);
}

.sidebar li a.active {
    background-color: var(--bg-primary-color);
    opacity: 1;
    color: var(--bg-main-theme-color);
    transform: translateX(5px);
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-button {
    display: flex;
    gap: 8px;
    padding: 0 0.5rem;
}

button.btn-circle {
    border-radius: 50%;
}

button.btn-light {
    background-color: #fff;
    color: var(--bg-primary-color);
}

button.btn-light:hover {
    background-color: rgb(202, 202, 202);
    color: var(--bg-primary-color);
}

button {
    display: block;
    background-color: var(--bg-primary-color);
    border: none;
    color: #fff;
    padding: 0.8rem 1.15rem;
    border-radius: 1rem;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(100, 98, 108);
}

.container {
    margin-top: 80px;
    margin-left: 250px;
    padding: 0.5rem;
    transition: 0.2s;
    z-index: 1;
}

.card {
    background-color: var(--bg-secondary-color);
    padding: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 8px;
}

.card.product {
    display: flex;  
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 1rem;
    transition: 0.2s;
}

.card.product img {
    width: 200px;
    height: 200px;
}

.card.product:hover {
    background-color: rgb(75, 72, 81);
}

.card.product p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    opacity: 0.5;
    font-weight: 300;
}

.card.product label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
    color: var(--bg-main-theme-color);
}

.filterbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-secondary-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
